<!DOCTYPE html>
<html class="h-full bg-white dark:bg-gray-900">
  <head>
    <title>FishingRigs</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
     <%= favicon_link_tag asset_path('favicon.svg') %>
     <%= favicon_link_tag asset_path('favicon.png') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_pack_tag 'react-components-bundle' %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="h-full">
    <main>
      <div class="lg:pr-96">
        <%= react_component("Sidebar", prerender: false) %>
        <div class="xl:pl-72">
          <header class="flex items-center justify-between border-b dark:border-white/5 px-4 py-4 sm:px-6 sm:py-6 lg:px-8">
            <h1 class="text-base font-semibold leading-7 dark:text-white">
              Fishing Rigs
            </h1>
          </header>
          <%= yield %>
        </div>
      </div>
    </main>
  </body>
</html>
