<!DOCTYPE html>
<html class="h-full bg-white dark:bg-gray-900">
  <head>
    <title>FishingRigs</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
     <%= favicon_link_tag asset_path('favicon.svg') %>
     <%= favicon_link_tag asset_path('favicon.png') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_pack_tag 'react-components-bundle' %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body class="h-full">
    <main>
      <div>
        <%= react_component("Sidebar", props: {'current_url': request.path}, prerender: true) %>
        <div class="xl:pl-72">
          <%= react_component("SearchHeader", props: {'current_url': request.path}, prerender: true) %>
          <% if notice.present? %>
            <div class="absolute top-0 right-0 m-12 bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded z-50" role="alert">
              <strong class="font-bold">Notice!</strong>
              <span class="block sm:inline"><%= notice %></span>
            </div>
          <% end %>

          <% if alert.present? %>
            <div class="absolute top-0 right-0 m-12 bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded z-50" role="alert">
              <strong class="font-bold">Alert!</strong>
              <span class="block sm:inline"><%= alert %></span>
            </div>
          <% end %>
          <%= yield %>
        </div>
      </div>
    </main>
  </body>
</html>
